*{
  margin: 0;
  padding: 0;
  font-family: 'garamond', cursive, monospace;
}

.register,.login{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height:94vh;
}
.regmain{
  background-color:rgb(154, 219, 213)

}
.loginmain{
  background-color: rgb(219, 213, 213);
}
.reghead{
  text-align: center;
}
.buyinp{
  margin: 1vh;
}

.regform,.logform{
  display: flex;
  flex-direction: column;
  padding: 3vh;
  background: #23463f;
  border-radius: 15px ;
}

.buyerform button{
  margin: 1vh;
  padding: 1vh;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 2vh;
}
.logform button{
  margin: 1vh;
  padding: 1vh;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 2vh;
}
.buyerform button:hover{
    opacity: 0.8;
  }
  .logform button:hover{
    opacity: 0.8;
  }

.buyerform input{
  padding: 1vh;
  text-align: center;
  width: 60vh;
  border-radius: 3vh;
  border: none;
  background-color: aliceblue;

}
.logform input{
  padding: 1vh;
  text-align: center;
  width: 60vh;
  border-radius: 3vh;
  border: none;
  background-color: aliceblue;

}
.regleft,.regright,.loginleft,.loginright {
  text-align: center;
}